body {
    background-color: #0d0d0d;
    color: #00ff41; /* Classic Terminal Green */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.portal-container {
    border: 1px solid #333;
    padding: 2rem;
    background: #1a1a1a;
    box-shadow: 0 0 20px rgba(0, 255, 65, 0.1);
    width: 400px;
    text-align: center;
}

hr { border: 0; border-top: 1px solid #333; margin: 20px 0; }

.file-box { margin-bottom: 30px; }

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background: #00ff41;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.input-group input {
    background: #000;
    border: 1px solid #00ff41;
    color: #00ff41;
    padding: 10px;
    width: 60%;
    outline: none;
}

.input-group button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.hidden { display: none; }

#resultArea {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed #555;
}

.flag-container {
    background: #000;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyBtn {
    background: #00ff41;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8rem;
}